.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}

.social {
  flex-shrink: 0;
  margin: 10px;
}

.socialLink {
  display: flex;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    opacity: 0.7;
  }
}

.socialIcon {
  width: 40px;
  height: 40px;
  color: $baseColor;
}