@media (min-width: $mediaMore560) {
  .nav {
    position: static;
    margin: auto;
    width: calc(100vw - #{$horizontalPadding * 2});
    max-width: $maxWidth;
    height: auto;
    padding: 15px 0;
    opacity: 1;
    border-bottom: 1px solid $lightColor;
    transform: none;
    transition: none;

    & .navSwitch {
      display: none;
    }
  }

  & .navList {
    display: flex;
    justify-content: space-between;

    &:after {
      display: none;
    }
  }

  & .navItem {
    margin-bottom: 0;
  }

  & .navLink {
    font-size: 18px;
    pointer-events: auto;
  }
}