.preview {
  padding-top: 24px;
}

.top {
  margin-bottom: 40px;
}

.name {
  width: 120px;
}

.text {
  margin-bottom: 50px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.switch {
  display: none;
}