.wrapper {
  box-sizing: border-box;
  width: calc(100% - #{$horizontalPadding * 2});
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 60px 0;
}

.wrapperResetPV {
  padding-top: 0;
  padding-bottom: 0;
}

