.home {
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

.top {
  margin-bottom: 20px;
}

.name {
  width: 92px;
  height: 40px
}

.text {
  margin-bottom: 50px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.switch {
  display: none;
}