.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 50px $horizontalPadding;
}

.wrapper_resetPV {
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper_dark {
  background: #f6f6f6;
}

