.navBurger {
  position: fixed;
  top: $headerNavVerticalPadding;
  right: 15px;
  z-index: 1;
  display: block;
  width: 30px;
  height: 20px;

  &:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
  }
}

.navBurgerItem {
  width: 100%;
  position: absolute;
  height: 4px;
  transition: transform .2s, opacity .2s;
  transform-origin: center center;
  background-color: #000;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: calc(50% - 2px);
  }

  &:nth-child(3) {
    bottom: 0;
  }
}

.navBurgerActive {
  & .navBurgerItem {
    &:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translateX(20px);
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-8px)  rotate(-45deg);
    }
  }
}
