$maxWidth: 940px;
$horizontalPadding: 30px;
$bgColor: #fff;
$baseColor: #070707;
$lightColor: #828282;
$extraLightColor: #fff;
$dangerColor: #ff0000;

$mediaMore560: 560px;

body {
  --header-height: 0px;
}

@media (min-width: $mediaMore560) {
  body {
    --header-height: 56px;
  }
}